= f.label :title, t(:title)
= f.text_field :title

%fieldset#categories
  %legend= t(:categories)
  = render_category_checkboxes(@current_category.children, @doc.categories)


%fieldset.description
  = f.label :description, t(:description)
  = f.text_area :description, { :class => 'richtext' }

= edit_photos(@doc.photos)

= render :partial => '/photo_upload'
