<h2>Změnit nebo zadat nové heslo</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nové heslo" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Potvrdit nové heslo" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Provést změnu" %></div>
<% end %>

<%= render "devise/shared/links" %>
