%article
  %h1= @doc.title
  %h2= @doc.motivation

  %section.description
    %h3= t(:description)
    != render_description @doc.description

  = render :partial => '/photo_gallery', :locals => {:photos => @doc.photos}

  = render :partial => '/authors', :locals => { :doc => @doc }