%fieldset
  .row-fluid
    .span6
      = f.label :name, t(:name)
      = f.text_field :name
    .span6
      = f.label :surname, t(:surname)
      = f.text_field :surname

  .row-fluid
    .span12
      = f.label :motivation, t(:motivation)
      = f.text_field :motivation

  .row-fluid
    .span6
      = f.label :born, t(:birth_date)
      = f.text_field :born

      = f.label :birthplace, t(:birth_place)
      = f.text_field :birthplace

    .span6
      = f.label :died, t(:death_date)
      = f.text_field :died

      = f.label :deathplace, t(:death_place)
      = f.text_field :deathplace

%fieldset.description
  = f.label :description, t(:description)
  = f.text_area :description, { :class => 'richtext' }

= edit_photos(@doc.photos)

= render :partial => '/photo_upload'
