= f.label :title, t(:title)
= f.text_field :title

%fieldset#categories
  %legend= t(:categories)
  = render_category_checkboxes(@current_category.children, @doc.categories)


%fieldset.description
  = f.label :description, t(:description)
  = f.text_area :description, { :class => 'richtext' }

%fieldset#route_section_entries
  %legend= t(:route_section_entries)
  - (@doc.route_section_entries || []).each do |e|
    .controls.controls-row
      %strong.span3= t(:distance)
      %strong.span3= t(:distance_sum)
      %strong.span3= t(:elevation)
      %strong.span3= t(:section_mark)
    .controls.controls-row
      = text_field_tag 'route_section_entries[][distance]', e.distance, {:rel => 'distance', :class => 'span3'}
      %input.span3{:type => 'text', :disabled => true, :rel => 'distance_sum'}
      = text_field_tag 'route_section_entries[][elevation]', e.elevation, {:class => 'span3'}
      = text_area_tag 'route_section_entries[][section_mark]', e.section_mark, {:class => 'span3'}
    .controls.controls-row
      %strong.span3= t(:map_marks)
      %strong.span3= t(:next_direction)
      %strong.span3= t(:bike_accessibility)
      %strong.span3= t(:notes)
    .controls.controls-row
      - if e.map_marks?
        .span3
          = hidden_field_tag "route_section_entries[][map_marks_file_name]", e.map_marks_file_name
          = hidden_field_tag "route_section_entries[][map_marks_content_type]", e.map_marks_content_type
          = hidden_field_tag "route_section_entries[][map_marks_file_size]", e.map_marks_file_size
          = hidden_field_tag "route_section_entries[][map_marks_updated_at]", e.map_marks_updated_at
          %img{:src => e.map_marks(:icon)}
      - else
        = file_field_tag 'route_section_entries[][map_marks]', {:class => 'span3'}
      - if e.next_direction?
        .span3
          = hidden_field_tag "route_section_entries[][next_direction_file_name]", e.next_direction_file_name
          = hidden_field_tag "route_section_entries[][next_direction_content_type]", e.next_direction_content_type
          = hidden_field_tag "route_section_entries[][next_direction_file_size]", e.next_direction_file_size
          = hidden_field_tag "route_section_entries[][next_direction_updated_at]", e.next_direction_updated_at
          %img{:src => e.next_direction(:icon)}
      - else
        = file_field_tag 'route_section_entries[][next_direction]', {:class => 'span3'}
      - if e.bike_accessibility?
        .span3
          = hidden_field_tag "route_section_entries[][bike_accessibility_file_name]", e.bike_accessibility_file_name
          = hidden_field_tag "route_section_entries[][bike_accessibility_content_type]", e.bike_accessibility_content_type
          = hidden_field_tag "route_section_entries[][bike_accessibility_file_size]", e.bike_accessibility_file_size
          = hidden_field_tag "route_section_entries[][bike_accessibility_updated_at]", e.bike_accessibility_updated_at
          %img{:src => e.bike_accessibility(:icon)}
      - else
        = file_field_tag 'route_section_entries[][bike_accessibility]', {:class => 'span3'}
      = text_area_tag 'route_section_entries[][notes]', e.notes, {:class => 'span3'}
    %hr
  - 5.times do
    .controls.controls-row
      %strong.span3= t(:distance)
      %strong.span3= t(:distance_sum)
      %strong.span3= t(:elevation)
      %strong.span3= t(:section_mark)
    .controls.controls-row
      = text_field_tag 'route_section_entries[][distance]', '', {:rel => 'distance', :class => 'span3'}
      %input.span3{:type => 'text', :disabled => true, :rel => 'distance_sum'}
      = text_field_tag 'route_section_entries[][elevation]', '', {:class => 'span3'}
      = text_area_tag 'route_section_entries[][section_mark]', '', {:class => 'span3'}
    .controls.controls-row
      %strong.span3= t(:map_marks)
      %strong.span3= t(:next_direction)
      %strong.span3= t(:bike_accessibility)
      %strong.span3= t(:notes)
    .controls.controls-row
      = file_field_tag 'route_section_entries[][map_marks]', {:class => 'span3'}
      = file_field_tag 'route_section_entries[][next_direction]', {:class => 'span3'}
      = file_field_tag 'route_section_entries[][bike_accessibility]', {:class => 'span3'}
      = text_area_tag 'route_section_entries[][notes]', '', {:class => 'span3'}
    %hr
  %button.btn.add-more= t(:add_more)


= edit_photos(@doc.photos)

= render :partial => '/photo_upload'
