= f.label :title, t(:title)
= f.text_field :title

= f.label :motivation, t(:motivation)
= f.text_field :motivation

.row-fluid
  %fieldset.contact-info.span6
    %legend= t(:contact_info)

    = f.label :email, t(:email)
    = f.email_field :email

    = f.label :website, t(:website)
    = f.url_field :website

    = f.label :telephone, t(:telephone)
    = f.text_field :telephone

    = f.label :municipality, t(:municipality)
    = f.text_field :municipality

    = f.label :municipality_section, t(:municipality_section)
    = f.text_field :municipality_section

    = f.label :street, t(:street)
    = f.text_field :street

    = f.label :street_number, t(:street_number)
    = f.text_field :street_number

    = f.label :postal_number, t(:postal_number)
    = f.text_field :postal_number

    = f.label :contact_notes, t(:contact_notes)
    = f.text_field :contact_notes

    = f.label :last_checkup, t(:last_checkup)
    = f.text_field :last_checkup
    %button.btn#yesterday= t(:yesterday)
    %button.btn#today= t(:today)
    .date-hint
      = t(:date_hint)
      24. 3. 1986


  %fieldset.location.span6
    %legend= t(:location)

    = f.label :coordinates, t(:coordinates)
    = f.text_area :coordinates

    = f.label :elevation, t(:elevation)
    = f.text_field :elevation

    = f.label :basic_numeral_data, t(:basic_numeral_data)
    = f.text_area :basic_numeral_data

    = f.label :cadastre, t(:cadastre)
    = f.text_field :cadastre

    = f.label :protected_teritory_categories, t(:protected_teritory_categories)
    = f.text_area :protected_teritory_categories



%fieldset#categories
  %legend= t(:categories)
  = render_category_checkboxes(@current_category.children, @doc.categories)


%fieldset.description
  = f.label :description, t(:description)
  = f.text_area :description, { :class => 'richtext' }


%fieldset#lodging
  %legend= t(:lodging)

  = fields_for @doc.lodging do |f|
    = f.label :general_notes, t(:general_lodging_notes)
    = f.text_area :general_notes, { :class => 'richtext' }

    = f.label :room_description, t(:room_description), { 'data-normal' => t(:room_description), 'data-camps' => t(:room_and_tent_area_description) }
    = f.text_area :room_description, { :class => 'richtext' }

    = f.label :services_included, t(:services_included)
    = f.text_area :services_included, { :class => 'richtext' }

    = f.label :services_available, t(:services_available)
    = f.text_area :services_available, { :class => 'richtext' }

    = f.label :internet_availability, t(:internet_availability)
    = f.text_area :internet_availability, { :class => 'richtext' }

    = f.label :arrival_since, t(:arrival_since)
    = f.text_area :arrival_since, { :class => 'richtext' }

    = f.label :departure_till, t(:departure_till)
    = f.text_area :departure_till, { :class => 'richtext' }

    = f.label :children_extra_beds, t(:children_extra_beds)
    = f.text_area :children_extra_beds, { :class => 'richtext' }

    = f.label :animals, t(:animals)
    = f.text_area :animals, { :class => 'richtext' }

    = f.label :bookings_payments_cancellation, t(:bookings_payments_cancellation)
    = f.text_area :bookings_payments_cancellation, { :class => 'richtext' }

    .clearfix
    = f.check_box :accept_credit_cards
    = f.label :accept_credit_cards, t(:accept_credit_cards)


%fieldset.open_hours
  %legend= t(:open_hours)
  %table#open_hours
    %tr
      %th= t(:season)
      %th= t(:timespan)
      %th= t(:notes)
    - if @doc.open_hours.present?
      - @doc.open_hours.each do |oh|
        %tr
          %td= text_field_tag 'open_hours[][season]', oh.season
          %td= text_field_tag 'open_hours[][timespan]', oh.timespan
          %td= text_field_tag 'open_hours[][notes]', oh.notes
    - 5.times do
      %tr
        %td= text_field_tag 'open_hours[][season]'
        %td= text_field_tag 'open_hours[][timespan]'
        %td= text_field_tag 'open_hours[][notes]'
  %button.btn.add-more= t(:add_more)


%fieldset.pricing
  %legend= t(:pricing)
  %table#services
    %tr
      %th= t(:service)
      %th= t(:price)
      %th= t(:notes)
    - if @doc.services.present?
      - @doc.services.each do |service|
        %tr
          %td= text_field_tag 'services[][service]', service.service
          %td= text_field_tag 'services[][price]', service.price
          %td= text_field_tag 'services[][notes]', service.notes
    - 5.times do
      %tr
        %td= text_field_tag 'services[][service]'
        %td= text_field_tag 'services[][price]'
        %td= text_field_tag 'services[][notes]'
  %button.btn.add-more= t(:add_more)


%fieldset.access
  %legend= t(:access_info)

  = f.label :train_access, t(:train_access)
  = f.text_area :train_access, { :class => 'richtext' }

  = f.label :public_transport_access, t(:public_transport_access)
  = f.text_area :public_transport_access, { :class => 'richtext' }

  = f.label :car_access, t(:car_access)
  = f.text_area :car_access, { :class => 'richtext' }

  = f.label :bus_access, t(:bus_access)
  = f.text_area :bus_access, { :class => 'richtext' }

  = f.label :walking_access, t(:walking_access)
  = f.text_area :walking_access, { :class => 'richtext' }

  = f.label :biking_access, t(:biking_access)
  = f.text_area :biking_access, { :class => 'richtext' }

  = f.label :for_disabled, t(:for_disabled)
  = f.text_area :for_disabled, { :class => 'richtext' }

  = f.label :tips_suggestions, t(:tips_suggestions)
  = f.text_area :tips_suggestions, { :class => 'richtext' }

= edit_photos(@doc.photos)

= render :partial => '/photo_upload'