#categories-pane .child a
  text-decoration: none
  color: black
  text-shadow: none

  // Icons in the categories list
  padding-left: 24px
  background:
    size: 16px
    repeat: no-repeat
    position-x: 4px
    position-y: 3px

  // Category-specific background colours
  &.turisticke-informace
    background-color: #befb81
  &.ubytovani
    background-color: #fbefc5
  &.sluzby-pro-cyklisty
    background-color: #f9fbb7
  &.mestka-sidla
    background-color: #bfbfbf
  &.venkovska-sidla
    background-color: #d5d5d5
  &.velkoplosna-chranena-uzemi
    background-color: #ecee9c
  &.prirodni-rezervace-pamatky-zajimavosti
    background-color: #d5ee9c
  &.pamatne-stromy-parky
    background-color: #bdee9c
  &.zoologicke-botanicke-zahrady
    background-color: #a1ed9d
  &.rozhledny-rozhledova-mista
    background-color: #8fe9ad
  &.koupani-wellness
    background-color: #cdeaf7
  &.archeologicke-lokality-zanikla-sidla
    background-color: #f9f48f
  &.svetske-pamatky-stavby
    background-color: #fbe389
  &.cirkevni-pamatky-nabozenske-stavby
    background-color: #fbd289
  &.technicke-pamatky-zajimavosti
    background-color: #fbbd89
  &.muzea-skanzeny-galerie-zpristupnena-podzemi
    background-color: #fbb193
  &.pamatky-na-slavne-osobnosti-rodiny-udalosti
    background-color: #f69382
  &.pamatna-mista-vojenske-historie
    background-color: #fe9ca3
  &.prumyslove-podniky
    background-color: #c7b5c1

  &.routes-for-walkers
    background-color: #befb81
  &.city-sightseeing
    background-color: #bfbfbf
  &.biking
    background-color: #f9fbb7
  &.cross-country-skiing
    background-color: #fefefb
  &.waterman-routes
    background-color: #cdeaf7


  // Category-specific background icons
  @each $category in infocentra, obecni-mestske-urady, spravy-narodnich-parku, spravy-chko, hotely-motely-penziony-chaty, kempy-taboriste, sluzby-pro-cyklisty, koupani-v-prirode, koupaliste, kryte-bazeny, archeologicke-lokality-zanikla-sidla, hradiste, hrady, tvrze, zamky, zriceniny, domy-palace, kostely, klastery, kaple, bozi-muka, krizove-cesty, smirci-krize-menhiry, synagogy, hrobky
    &[rel="#{$category}"]
      background-image: url(/icons/#{$category}.gif?v=2)

  &:hover
    background-color: #eee

.galleria-container
  background: #d5d5d5

.galleria-counter
  color: black

.galleria-image-nav-left
  background-color: black
  background-position: 20px

.galleria-image-nav-right
  background-color: black
  background-position: -274px

@each $category in infocentra, obecni-mestske-urady, spravy-narodnich-parku, spravy-chko, hotely-motely-penziony-chaty, kempy-taboriste, sluzby-pro-cyklisty, koupani-v-prirode, koupaliste, kryte-bazeny, archeologicke-lokality-zanikla-sidla, hradiste, hrady, tvrze, zamky, zriceniny, domy-palace, kostely, klastery, kaple, bozi-muka, krizove-cesty, smirci-krize-menhiry, synagogy, hrobky
  #breadcrumbs .#{$category}
    padding-left: 18px
    background-size: 16px
    background-repeat: no-repeat
    background-position-x: 0
    background-position-y: 0
    background-image: url(/icons/#{$category}.gif?v=2)

#logo-image
  height: 70px
  position: absolute
  top: 5px
  left: 500px

#content
  .document-item
    margin-bottom: 1em
  a.photo
    float: left
    margin-right: 1em
    border: 1px solid light-gray
    img
      height: 100px

.photos
  height: 180px

/* LemmonSlider CSS */
.slider
  overflow: hidden
  position: relative
  ul
    margin: 0
    padding: 0
    li
      float: left
      margin: 0 5px 0 0
      list-style: none

/* IE6 issues */
.slider
  ul
    width: 100%

.controls
  margin-top: 10px
  a
    cursor: default

#categories
  li
    list-style-type: none
  label
    display: inline

fieldset
  margin-bottom: 30px
  input[type="text"], input[type="email"], input[type="url"]
    width: 90%
  textarea
    width: 90%
    height: 120px

label[for="lodging_accept_credit_cards"]
  display: inline

#destination_title
  width: 100%
  font-size: 28px
  height: 32px

#destination_motivation
  width: 100%

#destination_last_checkup
  width: 60%

#destination_description
  height: 350px

#edit-photos
  li.photo-details
    list-style-type: none
    padding: 10px
    display: block
    height: 300px

    &:hover
      background: lightgray

    &.ui-sortable-helper
      background: lightgray
