<p>Dobrý den,</p>

<p>vytvořili jsme pro Vás účet na stránkách GeoInfoTour. Klikněte prosím na odkaz níže a zadejte nové přihlašovací heslo.</p>

<p><%= link_to 'Vytvořit heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Vaše přihlašovací jméno je: <%= @resource.email %></p>
