%section.authors
  %h3= t(:written_by)
  = mail_to doc.author.email, doc.author.name
  - doc.coauthors.each do |u|
    = mail_to u.email, u.name

  %dl
    %dt= t(:creation_time)
    %dd
      %time#created{:datetime => doc.created_at}= l(doc.created_at.to_date, :format => :default)

    %dt= t(:last_update_time)
    %dd
      %time#updated{:datetime => doc.updated_at}= l(doc.updated_at.to_date, :format => :default)

    - if doc.respond_to?(:last_checkup) && doc.last_checkup.present?
      %dt= t(:last_checkup)
      %dd
        %time#last_checkup{:datetime => doc.last_checkup}= l(doc.last_checkup, :format => :default)