.document-item
  - if !photos.empty?
    %a.photo{:href => photos.first.image.url}
      %img{:height => 100, :src => photos.first.image.url(:thumb)}
  %h2= target
  - if motivation.present?
    %h3= motivation
  .clearfix
