- if photos.present?
  %fieldset#edit-photos
    %legend= t(:photo_gallery)
    %ul
      - photos.each do |photo|
        %li.photo-details.row-fluid
          .span6
            %a{:href => photo.image.url}
              %img{:src => photo.image.url(:thumb)}
          .span6
            = label_tag "photos[#{photo.id}][description]", t(:photo_description)
            = text_area_tag "photos[#{photo.id}][description]", photo.description, {:class => 'richtext'}

            = label_tag "photos[#{photo.id}][attribution]", t(:photo_attribution)
            = text_field_tag "photos[#{photo.id}][attribution]", photo.attribution

            = hidden_field_tag "photos[#{photo.id}][delete]", 0, { :rel => 'delete'}
            = hidden_field_tag "photo_order[]", photo.id
            %button.delete.photo.btn.btn-danger= t(:delete_photo)

